input[type='checkbox'] {
  position: relative;
  appearance: none;
  font-size: 2rem;
  width: 30px;
  height: 30px;
  margin: 0;
  color: black;
  border: solid 1px red;
  outline: none;
  transition: 300ms ease-out;
}

input[type='checkbox']:not(:checked) {
  width: 30px;
  height: 30px;
  content: '';
  font-size: 2rem;
  display: inline-block;
  text-align: center;
}

input[type='checkbox']:checked::after {
  position: absolute;
  content: 'V';
  line-height: 30px;
  text-align: center;
  font-size: 2rem;
  width: 30px;
  height: 30px;
}
